.App {
  text-align: center;
  background-color: rgb(97, 129, 167);
}

.button {
  padding: 2vw;
  margin: auto;
  width: 70px;
}
.para_div{
  height: 30vh;
  color: azure;
  padding-top: 10vh;
  background-color: rgb(25, 150, 223);
}
.cat_selected{
margin-top: 10vh;
text-align: center;
align-items: center;
}
.joke{
  margin-top: 5vh;
  text-align: center;
align-items: center;
left: 50%;
}